
@{
    ViewBag.Title = "ExibeCliente";
}

@model Olivas.Numeros.Entidades.Cliente


<h2>Exibindo Cliente "@Model.Nome"</h2>

<b><p>Motivação: @Model.NumeroMotivacao </p>

<p> @Olivas.Numeros.Models.Tabela.ListaMotivacao.Where(e => e.Key == @Model.NumeroMotivacao).FirstOrDefault().Value </p>

<p>Expressão: @Model.NumeroExpressao </p>

<p> @Olivas.Numeros.Models.Tabela.ListaExpressao.Where(e => e.Key == @Model.NumeroExpressao).FirstOrDefault().Value </p>

<p>Como o mundo te vê: @Model.NumeroImpressao </p>

<p> @Olivas.Numeros.Models.Tabela.ListaImpressao.Where(e => e.Key == @Model.NumeroImpressao).FirstOrDefault().Value </p>

<p>Linha numerologica: @Model.PrimeiraLinhaPiramide </p>

<p>Destino: @Model.NumeroDestino </p>

<p> @Olivas.Numeros.Models.Tabela.ListaDestino.Where(e => e.Key == @Model.NumeroDestino).FirstOrDefault().Value </p>

<p>Ciclo 1 de vida: @Model.Numero1Ciclo </p>

<p>Momento decisivo 1 : @Model.NumeroMomento1 </p>

<p>Ciclo 2 de vida : @Model.Numero2Ciclo </p>

<p>Momento decisivo 2 : @Model.NumeroMomento2 </p>

<p>Ciclo 3 de vida : @Model.Numero3Ciclo </p>

<p>Momento decisivo 3 : @Model.NumeroMomento3 </p>

<p>Momento decisivo 4 : @Model.NumeroMomento4 </p>
